/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/*Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.menu {
    background: linear-gradient(330deg, rgba(87, 34, 205, 1) 0%, rgba(72, 69, 228, 1) 75%);
    justify-content: flex-end;
    position: relative;
}

.outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px dashed green;
    justify-content: center;
    position: relative;
}

.inner-container-wide {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    max-width: 100%;
    border: 2px dashed blue;
}

.inner-container-wide a {
    color: white;
    text-decoration: none;
}

.inner-container-narrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*flex-basis: 800px;*/
    max-width: 390px;
    /*Margin: 30px 30%;*/
    margin: 25px auto;
    padding: 5px 25px;
    border: 2px dashed greenyellow;
}

ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border: 2px dashed grey;
    padding: 0 15px;
}

ul > li {
    list-style: none;
    color: #F2F0FF;
    margin: 0 10px;
    font-size: 6pt;
    border: 2px dashed black;
}

.banner h1 {
    border: 1px dashed black;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: large;
    font-family: 'Merriweather', serif;
}

.banner p {
    border: 1px dashed black;
    text-align: center;
    color: white;
    font-size: x-small;
}

.button {
    color: white;
    text-decoration: none;
    font-size: 4pt;
    padding: 7px 12px;
    text-transform: uppercase;
    background-color: #ED4385;
    border-radius: 14px;
    text-align: center;
    margin: 12px auto;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.squiggle-container {
    position: relative;
    margin: auto;
    height: 50px;
    bottom: -3px;
}

.squiggle {
    border: 2px dashed black;
    text-align: center;
    bottom: 0px;
}

.about-us {
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    color: #5722CD;
    font-size: small;
    padding-bottom: 40px;
    text-align: center;
}

.contact-us {
    color: #0C0C0C;
    font-size: 6pt;
    font-weight: bolder;
}

.contact-us a {
    text-decoration: none;
    font-weight: bolder;
}

.cases {
    background-color: #F3F6F9;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.cases-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:150px;
    margin: 0 20px;
    color: #0C0C0C;
    border: 1px dashed black;
}

article {
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    border: 1px dashed black;
    margin: 15px;
}

.case:nth-child(even){
    /*width: 100%;*/
    /*display: flex;*/
    flex-direction: row-reverse;
    /*justify-content: center;*/
    border: 1px dashed yellow;
}

.image-wrapper img {
    width: 100%;
    border: 1px dashed black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.spacer{
    width: 10%;
}

.image-wrapper {
    flex-basis:350px;
    flex-grow: 0;
    flex-shrink: 1;
    border: 1px dashed pink;
}
.cases p{
    font-size: 6pt;
    margin: 20px 0;
    font-weight: bolder;
}

h5{
    margin: 15px 0;
    font-family: 'Merriweather', serif;
}

h6{
    font-size: 5pt;
    color: #5722CD;
    font-weight: bold;
}

.service-block{
    display: flex;
    flex-direction: column;
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 1;
    border: 2px dashed pink;
}

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */